<style>
    main {
        margin: 20px;
        text-align: center;
    }

    body {
        background: url(<%= image_path 'comments2.png' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .comment {
        width: 500px;
        margin: auto
    }

    .comment-wrapper {
        background-color: #7393B3;
        width: 550px;
        margin: auto;
        border-radius: 10px;
        padding: 10px;
    }

</style>

<main>
  <div class="comment-wrapper">
    <div class="comment">
      <h1><%= t '.edit_t' %></h1>

      <div style="margin: auto; width: fit-content">
      <%= render "form", comment: @comment %>
      </div>
      <br>

      <div>
        <%= link_to "#{ t '.comments' }", comments_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</main>