<%= stylesheet_link_tag "users_common", media: "all", "data-turbolinks-track": "reload" %>

<main>

  <h1><%= t '.reg' %></h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "#{ t '.users_l' }", users_path, class: 'btn btn-info' %>
  </div>

</main>