<div id="<%= dom_id post %>">
  <div class="title">
  <p>
    <strong>Заголовок:</strong>
    <%= post.title %>
  </p>
  </div>

  <div class="body">
  <p>
    <strong>Текст поста:</strong>
    <%= post.body %>
  </p>
  </div>

</div>
