<div id="<%= dom_id post %>">
  <div class="_post">
  <p>
    <strong>Автор: </strong><%= User.find_by_id(post.user_id).nickname %>
  </p>
  <div class="title">
  <p>
    <h3><%= post.title %></h3>
  </p>
  </div>

  <hr>

  <div class="body">
  <p>
    <%= post.body %>
  </p>
  </div>

</div>
</div>