.game {
  width: 500px;
  margin: auto;
}

.game-wrapper {
  width: 550px;
  background-color: #563a63;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.mb-3 {
  margin: auto;
  width: fit-content;
}