@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

body {
  background: image_url('main_bg6.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

h1 {
  font-family: 'Rakkas', cursive;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
}